# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
.turbo

# Env files
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
